HOST=0.0.0.0
PORT=1337
APP_KEYS=49qlh3Uw2BUMYTVeOLWw8A==,WLnWOirvBdI3gBxndvhKOQ==,wxseFEor71NcCADKTNG+jQ==,OE4bjTRq7N6SlPFXqI6Gsg==
API_TOKEN_SALT=zIQ/nEQjcBjIGPKLgytGzw==
ADMIN_JWT_SECRET=B7XnuJ+yaK7AWYgYKgS9KQ==
TRANSFER_TOKEN_SALT=NIxPuM2OpXjyQPG7TsUZfQ==
# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USERNAME=RSJ
DATABASE_PASSWORD=rsj
DATABASE_SSL=false

JWT_SECRET=ebp+dvHsDoiTnWHD7Mpo7Q==
